mixin works(project)
    .row.portfolio
        .col-sm-5.custom-pad-1.no-float
            if project.images && project.images.length==1
                img.img-responsive(src=project.images[0], alt='')
            else
                .image-carousel
                    for image in project.images
                        img.img-responsive(src=image, alt='')

        |                                             
        .col-sm-7.custom-pad-2.no-float
            .div-table
                .div-table-row
                    .div-table-cell
                        b Name
                    .div-table-cell
                        |#{project.name}

                .div-table-row
                    .div-table-cell
                        b Technologies
                    .div-table-cell
                        |#{project.tech}
                
                .div-table-row
                    .div-table-cell
                        b Duration
                    .div-table-cell
                        |#{project.duration}
                .div-table-row
                    .div-table-cell
                        b Url
                    .div-table-cell
                        a(href=project.url, title=project.name target="_blank") #{project.name}
                .div-table-row
                    .div-table-cell
                        b Role
                    .div-table-cell
                        |#{project.role}
                
        .col-md-12.padding-top-10
            p    #{project.desc}
