mixin works(project)
    .row.portfolio
        .col-sm-6.custom-pad-1.no-float
            img.img-responsive(src='assets/images/portfolio/1.jpg', alt='')
        |                                             
        .col-sm-6.custom-pad-2.no-float
            .table-responsive
                table.table.table-bordered
                    tbody
                        tr
                            td
                                b Name
                            |                                                                 
                            td #{project.name}
                        |
                        tr
                            td
                                b Technologies
                            |                                                                 
                            td #{project.tech}
                        |                                                             
                        tr
                            td
                                b Duration
                            |                                                                 
                            td #{project.duration}
                        |                                                                                                                          
                        tr
                            td
                                b Url
                            |                                                                 
                            td
                                a(href='http://www.uipasta.com', title='uipasta') Rolling
                        |                                                             
                        tr
                            td
                                b Role
                            |                                                                 
                            td
                                |#{project.role}
                        tr
                            td
                                b Description
                                |                                                                 
                            td #{project.desc}